mixin projectList(projects)
  each project in projects
    h5.w3-opacity #{project.title}
    a.w3-opacity(
      href=`${project.url}`
      target='_blank'
      rel='noopener noreferrer'
      ) #{project.text}
    h6.w3-text-blue-grey
        i.fa.fa-calendar.fa-fw.w3-margin-right.w3-text-indigo
        | #{project.timeline} - 
        if project.current
        span.w3-tag.w3-blue.w3-round Atual
    div(class="clickable")
      p
        | #{project.description}

    script.
      const div = document.querySelector('.clickable');
      const p = div.querySelector('p');
      const maxHeight = '80px';
      div.style.maxHeight = maxHeight;
      div.style.overflow = 'hidden';
      div.style.textAlign = 'justify';
      div.style.cursor = 'pointer';

      div.addEventListener('click', () => {
        div.style.maxHeight = '';
      });